.btn-add {
    display: flex;
    align-items: center;
    gap: 3px;
    max-width: 300px;
    padding: 10px;
    background: #005cbb;
    color: #ffff;
    font-weight: 600;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;

}

.mat-mdc-list-base {
    padding: 10px;
}